*{
    margin: 0;
    padding: 0;
}
.main-banner{
    background-color: #000;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-bg{
    background-color: #000;
    max-width: 960px;
    align-items: center;
    padding-left: 50px;
}
.logo{
    width: 171px;
    height: 63px;
}
.search{
    padding: 10px 200px;
}
.search input{
    width: 404px;
    height: 34px;
}
.login p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.cart img{
    width: 48px;
}
.cart{
    display: flex;
}
.cart p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}